@model IEnumerable<OnTap_LTDN.Models.Diem>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@{ Html.BeginForm();}
@Html.Label("Họ Tên")
@Html.TextBox("searchString", "", new { PlaceHolder = "Nhập họ tên cần tìm" })
<input type="submit" value="Tìm kiếm" />
@{ Html.EndForm();}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.masv)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tenmh)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.diem1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SinhVien.hoten)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.masv)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tenmh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.diem1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SinhVien.hoten)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.masv, tenmh = item.tenmh }) |
                @Html.ActionLink("Details", "Details", new { id = item.masv, tenmh = item.tenmh }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.masv, tenmh = item.tenmh })
            </td>
        </tr>
    }

</table>
